.services {
  padding-top: 57px;
  padding-bottom: 98px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  background-color: $block-background;

  .wrap {
    max-width: 1180px;
    padding: 0 25px;
    margin: 0 auto;
  }

  @media (max-width: $tablet-width) {
    padding-top: 23px;
    padding-bottom: 33px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 27px;

    .wrap {
      padding: 0 15px;
    }
  }
}

.services__heading {
  margin-left: 5px;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $main-color;

  @media (max-width: $tablet-width) {
    width: 85%;
    margin-left: 0;
    font-size: 32px;
    line-height: 140.62%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-left: 10px;
    font-size: 28px;
  }
}

.services__list {
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  @media (max-width: $tablet-width) {
    margin-left: -2px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 19px;
  }
}

.services__item {
  width: 325px;
  height: 570px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-top: 48px;
  padding-left: 44px;
  display: block;
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  color: $main-color;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;

  &:hover {
    color: $excretion-color;
    outline: 1px solid $excretion-color;
  }

  &:focus {
    color: $excretion-color;
    outline: 1px solid $excretion-color;
  }

  &::before {
    content: "";
    position: absolute;
    width: 63px;
    height: 63px;
    background-color: $excretion-color;
    bottom: 0;
    right: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 9px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    bottom: 27px;
    right: 24px;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &--production {
    background-image: url("../img/production-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/production-desktop2x.png");
    }
  }

  &--installation {
    background-image: url("../img/installation-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/installation-desktop2x.png");
    }
  }

  &--accessories {
    background-image: url("../img/accessories-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/accessories-desktop2x.png");
    }
  }

  @media (max-width: $tablet-width) {
    width: 672px;
    height: 215px;
    margin-right: 0;
    margin-bottom: 45px;
    padding-top: 42px;
    padding-left: 42px;
    background-size: cover;

    &--production {
      background-image: url("../img/production-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/production-tablet2x.png");
      }
    }

    &--installation {
      background-image: url("../img/installation-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/installation-tablet2x.png");
      }
    }

    &--accessories {
      height: 207px;
      padding-top: 50px;
      background-image: url("../img/accessories-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/accessories-tablet2x.png");
      }
    }
  }

  @media (max-width: $mobile-width) {
    width: 87%;
    height: 236px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-left: 33px;

    &--accessories {
      height: 226px;
      padding-top: 30px;
    }
  }
}
