.footer {
  padding-top: 53px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $footer-border;
    bottom: 52px;
    right: 0;
  }

  .wrap {
    max-width: 1412px;
    padding: 0 25px;
    margin: 0 auto;
  }

  .container {
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  @media (max-width: $tablet-width) {
    padding-top: 7px;

    .container {
      padding-bottom: 27px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $footer-border;
      top: 95px;
      right: 0;
    }

    &::after {
      bottom: 60px;
    }
  }

  @media (max-width: $mobile-width) {
    padding-top: 41px;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }

    .wrap {
      padding: 0;
    }

    .container {
      padding-bottom: 12px;
    }
  }
}

.footer__logo {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
