.navigation-footer {
  margin: 0 auto;
  position: relative;

  h2 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $block-background;
  }

  span {
    display: block;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $block-background;
    text-align: left;
  }

  @media (max-width: $tablet-width) {
    margin: 0;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 13px 9px;
    flex-basis: 100%;
    border-top: 1px solid $footer-border;
    border-bottom: 1px solid $footer-border;

    h2 {
      display: none;
    }
  }
}

.navigation-footer__wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  @media (max-width: $tablet-width) {
    width: 65%;
    padding-top: 10px;
    flex-wrap: wrap;
  }

  @media (max-width: $mobile-width) {
    width: auto;
    padding-top: 0;
  }
}


.navigation-footer__list {
  margin-top: 9px;
  padding-left: 0;
  padding-right: 75px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;

  &:last-of-type {
    padding-right: 15px;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    color: $block-background;

    &:hover {
      color: $excretion-color;
    }
  }

  @media (max-width: $tablet-width) {
    margin: 0;
    padding-right: 0;
  }

  @media (max-width: $mobile-width) {
    padding-left: 7px;

    &:first-of-type {
      padding-top: 15px;
    }
  }
}
