// Colors

$main-color: #ffffff;
$excretion-color: #00b2ff;
$text-color: #666666;
$block-background: #1b2d37;
$socials-color: #cdcdcd;
$logo-color: #788891;
$footer-color:#203c42;
$advantages-border: #ebebeb;
$footer-border: #626962;
$toogle-color: #c4c4c4;
$modal-background: #000000;

// Viewports

$tablet-width: 1023px;
$mobile-width: 767px;
